main {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 25px;
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 25px;
    margin: 25px 0px 50px 0px;

}

li {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 40px 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.winner {
    color: rgb(240, 167, 40)
}