main {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style: none;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 40px 20px;
    width: 500px;
}

li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}